.wrapper {
	background-color: #80F2E7;
	padding-top: 10px;
	padding-right: 30px;
	padding-bottom: 10px;
	padding-left: 30px;
	background-image: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-attachment: scroll;
	position: absolute;
	margin: 10px;
	left: 12px;
	top: 173px;
}
body {
	background-color: #035AA6;
}
.wrapper .navigation li {
	display: inline;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	color: #D6D5D6;
	background-color: #8085E7;
}
