#title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: 900;
	letter-spacing: .2em;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
body {
	background-color: #093C4A;
	color: #093C4A;
}
.wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 950px;
	background-color: #95C8D6;
}
.wrapper .navigation li {
	display: inline;
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	background-color: #FFFFFF;
	color: #A3A692;
}
